.button {
	outline: none;
	border: none;
	display: block;
	width: 81px;
	height: 36px;
	border-radius: 6px;
	background-color: hsl(0, 0%, 88%);
	box-shadow: 0px 2px 3px 0px #33333333;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	color: hsl(0, 0%, 25%);
}
.button:active {
	background-color: hsl(0, 0%, 68%);
}
@media (hover: hover) {
	.button:hover {
		background-color: hsl(0, 0%, 68%);
		cursor: pointer;
	}
}
